body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #222;
    color: #f8f8f8;
}

canvas {
    background-color: #000;
    display: block;
    margin: 0 auto;
    border: 1px solid #555;
}
